 h1{
    font-family: "Playfair Display", serif;
    font-size: 64px;
    color: #000;
 
}

 h2{
       font-family: "Poppins", sans-serif;
       font-size: 36px;
       font-weight: 700;
       margin: 0;
       color: #272142;
}

p{
     font-size: 18px;
     font-family: "Poppins", sans-serif;
     color: #272142;
     line-height: 1.5;
}

.hero{
    background: #f9f7fe;
    padding: 160px 20px;
    text-align: center;
}


.hero h1{
    font-size: 96px;
}

.hero p{
     font-size: 24px;
     margin: 20px;
}

.btn-start{
    background:#fd0054;
    color: #f9f3f3;
    border-radius: 4px;
    padding: 18px 30px;
    margin: 30px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
 
}

.project-description{
    padding: 120px 60px
}

.btn-learn-more{
    border-color: #fd0054;
    color: #fd0054;
     border-radius: 4px;
    padding: 18px 30px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;

}

.about{
    padding: 160px 20px;
}

.about-text{
    margin: 30px;
}

.about-text h2{
    font-size: 18px;
}


.about-text p{
    font-size: 16px;
    line-height: 2;
    font-weight: normal;
}

.about-text .btn-start{
    margin: 0;
}

.case{
    padding: 180px 140px;
}

.case h1{
    line-height: 1.5;

}

.case-display{
    margin-bottom: 80px;
}

.case-display img{
    border-radius: 20px;
}

.case-display h3{
    font-weight: 900;
}

.case-display p{
    font-size: 14px;
}

span{
    color: #fd0054;
}

nav img{
    max-height: 40px;
    margin-top: 8px;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav li{
    list-style: none;
    display: inline;
    font-family: "Poppins", sans-serif;
    margin-left: 15px;
    line-height: 3.5;
}

nav li a{
    text-decoration: none;
    color: #212529;
    transition: all 100ms ease-in-out;
}

nav li a:hover, nav li a.active{
    color:#fd0054;
}

footer .email-link{
    display: flex;
    justify-content: center;
  
}

footer .email-link a{
      color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

footer .social-links{
    display: flex;
    justify-content: center;

}

footer .social-links a{
    font-size: 18px;
    padding: 10px 14px;
    margin: 0 20px;
    color: #fd0054;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
    background: #f9f7fe;
}

footer .social-links a:hover{
    color: #f9f7fe;
    background: #fd0054;
}

footer .contact-box{
    background: #f9f7fe;
    padding: 30px 120px;
    border-radius: 10px;
}

footer .contact-box h3{
    color: black;
    font-family: "Playfair Display", serif;
    font-size: 48px;
}

footer .contact-box p{
    margin: 0;
}

@media (max-width:900px){
   
     h2{
        font-size: 30px;
    }
    
    .hero{
        padding: 80px 20px;
    }

    .hero h1{
        font-size: 40px;
    }
   
    .hero p{
        font-size: 16px;
    }
   
    .project-description{
        text-align: center;
        padding: 0;
    }

    .about{
        text-align: center;
        padding: 30px;
    }

    .about h1, .work h1{
        font-size: 64px;
    }

    .about-text{
        margin: 0;
        margin-bottom: 30px;
    }

    .case{
        text-align: center;
        padding: 80px 20px;
    }

    nav li{
        margin-left: 5px;
    }
}